/* Heading 1 - Bellefair Regular - 150px */
/* Heading 2 - Bellefair Regular - 100px */
/* Heading 3 - Bellefair Regular - 56px */
/* Heading 4 - Bellefair Regular - 32px */
/* Heading 5 - Barlow Condensed Regular - 28px - 4.75 Character Space */
/* Nav Text - Barlow Condensed Regular - 16px - 2.7 Character Space */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  body{
   
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
  .bodyHome{
    background-image: url(../Assets/home/background-home-desktop.jpg);
  }
  .bodyDest{
    background-image: url(../Assets/destination/background-destination-desktop.jpg);
  }
  .bodyCrew{
    background-image: url(../Assets/crew/background-crew-desktop.jpg);
  }
  .bodyTech{
  background-image: url(../Assets/technology/background-technology-desktop.jpg);
  }
  main{

    margin-left: 16.6rem;
    /* width: 111.5rem; */
    /* margin: auto ; */
    position: relative;
  }
  .header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.2rem;
    margin-left: 3.2rem;
    /* margin-bottom: 18rem; */
    gap:3rem;
  }
  .line{
    width: 98rem;
    height: 0.1rem;
    background-color:rgb(255, 255, 255) ;
    opacity: 0.3;
  }
  .navbox{
    font-family:'Barlow Condensed', sans-serif;
    /* height: 9.6rem; */
    width: 100%;
    display: flex; 
    justify-content: center;
    background-color: #ffffff0a;
    backdrop-filter: blur(81.55px) brightness(100%);
  }

  
  .main-nav-list {
    margin: auto;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
   
  }
  .main-nav-link:link, .content-nav-link:link
 {
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
  opacity: 0.9;
  
  font-size: 1.6rem;
  
}
.main-nav-link:visited{
  color: #FFFFFF;
 
 
}
.main-nav-link{
    padding-top: 3.8rem;
    padding-bottom: 3.8rem;

}
.main-nav-link:hover{
  border-bottom: 0.4rem solid rgba(255, 255, 255, 0.6);
  
}
.main-nav-link:active{
    border-bottom: 0.4rem solid rgba(255, 255, 255);
    
  }
  .main-nav-link{
    letter-spacing: 0.27rem;

  }
  .logo { 
    height:4.8rem;
  }
  
  
  .main-section-home{
    margin-top: 25rem;
    display: flex;
    gap:39.1rem
  }
  .text-box-home{
    
    width: 45rem;
  }
  .btn{
    height: 23.4rem;
    width:23.4rem;
    background-color: #FFFFFF;
    border-radius:50%;
    align-self: self-end;
    font-size: 3.2rem;
    cursor: pointer;
  }
  .main-section-dest{
    margin-top:7.6rem;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 5fr;
    /* justify-items: center; */
    column-gap: 0rem;
    row-gap: 5rem;
  }
  .heading{
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: start;
    /* height: 3.4rem; */
      }
  
  .figure-dest{
    
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .figure img{
    height: 35rem;
  }
  
  
  .content{
    grid-column: 2/3;
    grid-row: 2/3;
  }
 
  .content-nav-list {
    margin: auto;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
   
  }
  .content-nav-link:visited{
    color: #FFFFFF;
    font-size: 1.6rem;
  }
    .stats{
      display:flex;
      justify-content: space-between;
    }
    .statval1, .statval2{
      color: #FFFFFF;
      font-size: 3.2rem;
    }
  
  .main-section-crew{
    margin-top: 7.6rem;
    display: grid;
    grid-template-columns: 2fr 3fr ;
    grid-template-rows: 3fr 2fr 2fr;
    justify-items: center;
    row-gap: 5rem;
  }
  .figure-crew{
    grid-column: 2/3;
    grid-row: 1/-1;
    /* margin-top: 3.69rem;
    justify-self: center; */
    
  }

  .content-crew{
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .pagination{
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    gap: 1rem;
  }
  .dots{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #FFFFFF;
    opacity: 0.5;
    cursor: pointer;
    font-size: 3.2rem;
    text-align: center;
    margin-top: 3rem;
    font-family: Barlow Condensed, sans-serif;
  }

  .selected-dot{
    /* background-color: #FFFFFF; */
    opacity: 1;
  }
  .main-section-tech{
    margin-top: 7.6rem;
    display: grid;
    grid-template-columns: 2fr 2fr 3fr ;
    grid-template-rows: 1fr 5fr;
    align-items: center;
    justify-items: center;
    row-gap: 5rem;
  }
  .main-section-tech .heading{
    grid-column: 1/3;
  }
  .verticle-pagination{
    display: flex;
    gap:3rem;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 2/3;

  }
  .content-tech{
    grid-column:2/3;
    grid-row:2/3;
  }
  .figure-tech{
    grid-column:3/4;
    grid-row:2/3;
  }

  .verticle-pagination .dots{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    background-color: #FFFFFF;
    /* opacity: 0.5; */
    cursor: pointer;
    
  }
  .dot-number{
    display: flex;
    justify-content: center;
    /* margin-left: 4.2rem;*/
    margin-top: 2rem; 
    /* padding-top: 5rem; */
  }


  .head{
    font-family: 'Bellefair', serif;
    color: #FFFFFF;
  }
   .head-4{
    font-size: 3.2rem;
   }
   .head-1{
    font-size: 15rem;
   }
   .head-2{
    font-size: 10rem;
   }
   .head-3{
    font-size: 5.6rem;
   }
   .head-5{
    font-size: 2.8rem;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0.45rem;

   }
   .typography{
    color: #FFFFFF;
    font-size: 1.8rem;
    /* margin-bottom: 4rem; */
   }
   .strong{
    font-weight: 1000;
    color: #FFFFFF;
   }
   .number{
    margin-right: 2rem;
    font-size: 2.8rem;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0.45rem;
    opacity: 0.5;
   }
   .content .typography{
    opacity: 0.7;
   }
   .content .line{
    margin-bottom: 2rem;
    width: 100%;
   }